altgraph==0.17.5
docopt==0.6.2
keyboard==0.13.5
mouse==0.7.1
packaging==25.0
pyinstaller==6.18.0
pyinstaller-hooks-contrib==2026.0
PyQt6==6.10.2
PyQt6-Qt6==6.10.1
PyQt6_sip==13.11.0
setuptools==80.9.0
